footer {
    width: 100%;
  }
  
  .logo {
    width: 300px; 
    height: 300px;
  }
  
  .ordenFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Dispositivos Small */
  
  @media all and (max-width: 767px) {
    .ordenFooter {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 3%;
    }
  }